* {
    margin: 0;
    padding: 0;
}

@keyframes carregando {
    0%{opacity: 0.2;}
    100%{opacity: 1;}
}

body {
    background-image: url("../img/fundo espaço.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	background-attachment: fixed;
}

header {
    margin-bottom: 15px;
}

header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 50px 0 10px 0;
}

header nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 3px;
    padding: 10px;
}

nav img {
    border-radius: 50%;
    padding: 15px;
    background-color: #3bff45;
    cursor: pointer;
    width: 30px;
}

nav img:hover {
    background-color: #00a700;
}

main {
    position: relative;
    margin-bottom: 10px;
}

#conteiner-principal {
    width: 40%;
    min-height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.conteiner-config {
    text-align: center;
}

.conteiner-config img {
    border-radius: 50%;
    padding: 15px;
    background-color: #3bff45;
    cursor: pointer;
    width: 30px;
    margin-top: 20px;
}

.conteiner-config img:hover {
    background-color: #00FF00;
}

.msg-status {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 200;
}

.msg-status span {
    font-size: 2em;
    animation: carregando 200ms linear 0ms infinite alternate-reverse both;
}

.msg-status span:nth-of-type(2) {
    animation-delay: 100ms;
}

.msg-status span:nth-of-type(3) {
    animation-delay: 200ms;
}

.conteiner-colecao {
    border: 1px solid #00FF00;
    border-radius: 5px;
    padding: 15px;
}

.conteiner-colecao .colecoes {
    position: relative;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #00af1e;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.conteiner-colecao .colecoes:hover {
    background-color: #005a0f;
    color: #00FF00;
    outline: 1px solid #00FF00;
}

.colecoes p {
    display: inline-block;
}

.conteiner-colecao button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 10px 31px;
    border: none;
    border-radius: 8px;
    background: red;
    color: white;
    cursor: pointer;
}

.invisivel {
    display: none;
}