* {
    margin: 0;
    padding: 0;
}

@keyframes carregando {
    0%{opacity: 0.2;}
    100%{opacity: 1;}
}

body {
    background-image: url("../img/fundo espaço.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	background-attachment: fixed;
}

header {
    margin-bottom: 15px;
}

header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 50px 0 10px 0;
}

header nav {
    text-align: center;
}

nav .botoes-nav {
    background-color: #101010;
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #00FF00;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 12px;
    border-radius: 50%;
    outline: 5px solid #00FF00;
    background-color: #000000;
    cursor: pointer;
}

nav img {
    width: 28px;
}

nav li:hover {
    outline: 6px solid #09ff00;
    background-color: #002703;
}

main {
    position: relative;
    margin-bottom: 10px;
}

#conteiner-principal > div {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.conteiner-config {
    text-align: center;
}

.conteiner-config img {
    border-radius: 50%;
    padding: 15px;
    background-color: #3bff45;
    cursor: pointer;
    width: 40px;
    margin-top: 20px;
}

.conteiner-config img:hover {
    background-color: #00FF00;
}

.msg-status {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 200;
}

.msg-status span {
    font-size: 2em;
    animation: carregando 200ms linear 0ms infinite alternate-reverse both;
}

.msg-status span:nth-of-type(2) {
    animation-delay: 100ms;
}

.msg-status span:nth-of-type(3) {
    animation-delay: 200ms;
}

.conteiner-colecao {
    width: 40%;
    border: 1px solid #00FF00;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

.div-colecao {
    width: 100%;
    position: relative;
}

.conteiner-colecao .colecao {
    position: relative;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #00af1e;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: 90%;
    margin-right: 10px;
    transition: width 500ms;
}

.conteiner-colecao .colecao:hover {
    background-color: #003f0a;
    color: #00FF00;
    outline: 1px solid #00FF00;
}

.colecao p {
    display: inline-block;
}

.conteiner-colecao button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 31px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.div-colecao .div-img {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    background-color: red;
    border-radius: 10px;
    padding: 13px;
    cursor: pointer;
    display: none;
}

.div-colecao .div-img:hover {
    background-color: rgb(255, 27, 27);
}

.div-colecao img{
    width: 30px;
}

.invisivel {
    display: none;
}