* {
    margin: 0;
    padding: 0;
}

@keyframes animacaoPortal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes animacaoImagem {
    0% {
        left: 0;
        opacity: 0;
    }

    100% {
        left: 19%;
        opacity: 100%;
    }
}

body {
    background-image: url("Imagens/fundo espaço.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header {
    padding: 50px 0;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

main {
    position: relative;
}

.portal {
    width: 260px;
    position: relative;
    right: 20px;
    transition: all 2s;
    animation-name: animacaoPortal;
    animation-duration: 1s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
    cursor: pointer;
}

.imagens {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation-name: animacaoImagem;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

.div-imagem {
    display: inline-block;
    border: 1px solid #09ff00;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 250ms;
    width: 205px;
    height: 208px;
    overflow: hidden;
}

.imagem-fechada {
    background-color: #00000000;
}

.imagem-aberta {
    background-color: #000000;
}

.imagem-fechada:hover {
    background: #0abd04;
}

.imagem-aberta:hover {
    background: #012400;
}

.imagem-personagem {
    width: 200px;
    border-radius: 5px;
    border: 2px solid #09ff00;
    margin: auto;
    margin-bottom: 10px;
}

.div-imagem p {
    color: #FFFFFF;
    font-size: 1em;
    /* font-weight: bold; */
    margin: 3px 5px;
}

.dados {
    height: 87px;
    overflow: auto;
    border: 1px dashed #09ff00;
}